{
  "parser": "babel-eslint",
  "extends": [],
  "env": {
    "es6": true
  },
  "plugins": [
    "react" // remove this if you get https://github.com/facebook/create-react-app/issues/11825
  ],
  "parserOptions": {
    "sourceType": "module"
  },
  "rules": {
    "space-before-function-paren": 0,
    "react/jsx-boolean-value": 0
  }
}
